.header-section {
    display: flex;
}

.section-main {
    margin-top: 80px;
}
.main-title {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    padding-top: 80px;
}


.sites-wrapper {
    margin-top: 30px;
}

.sites-wrapper {
    height: 576px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sites-links {
    padding: 0px 50px 0px 0px;
    margin-top:25px;
    margin-right: 35px;
}
.sites-links:hover {
    padding: 0px 50px 0px 0px;
    margin-top: 25px;
    margin-right: 35px;
    transform: scale(1.1);
}
  .p-text {
      text-align: center;
      font-size: 19px;
      line-height: 24px;
  }

  .btn-links-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      padding-right: 50px;
      padding-bottom: 50px;
  }
  .btn-link-links {
      padding: 0px 20px;
  }

  .active{
      color: dodgerblue;
  }
  .service-wrapper {
    display: flex;
    margin-left: 100px;
}

.service-text {
    margin-left: 180px;
}
.txst {
    text-align: left;
}

.btn4 {
 margin-left: 573px;
 margin-top: 40px;
 font-weight: 700;
 margin-bottom: 60px;
}

.secondImg{
    margin-left: 150px;
}
.form-title {
    text-align: center;
    padding-top: 60px;
    color: #fff;
}

.form-text {
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
}

.wrapper-form {
    width: 348px;
    height: 320px;
   margin-left: 470px;
   background-color: #fff;
   border-radius: 5px;
   margin-bottom: 0px;
}

.input {
    width: 300px;
    height: 56px;
    border: none;
    border-radius: 5px;
    background: #F3F3F3;
    padding: 20px;
    margin: 20px 10px 10px 20px;
    outline: none;
    font-size: 17px;
 
}

.btn5 {
    width: 167px;
    height: 40px;
    margin-left: 80px;
    font-weight: 600;
}

.form-part {
  background: #00BAFC;
  height: 550px;
}

